# ----------------------------------------------------------------------
# ARCHIVO .env.example - Plantilla Laravel + PostgreSQL
# Este archivo contiene las variables de entorno utilizadas por el stack.
# ----------------------------------------------------------------------

# --- Datos generales del proyecto ---
PROJECT=demo_laravel_postgres   # Nombre del proyecto (usado en contenedores, redes, volúmenes, etc.)

# --- Configuración del entorno PHP (Laravel) ---
LANG_VERSION=8.3             # En esta plantilla no se utiliza la versión ya que se descarga una imagen de laravel

# --- Configuración de PostgreSQL ---
DB_VERSION=15                # Versión del motor PostgreSQL
POSTGRES_USER=laravel        # Usuario estándar de PostgreSQL
POSTGRES_PASSWORD=change-me-postgres-user # Contraseña del usuario estándar
POSTGRES_DB=laraveldb        # Nombre de la base de datos principal

# --- Configuración opcional para pgAdmin ---
PGADMIN_EMAIL=admin@admin.com  # Correo de administrador para pgAdmin
PGADMIN_PASSWORD=change-me-pgadmin     # Contraseña de administrador para pgAdmin

# --- Configuración opcional del entorno Laravel ---
APP_ENV=local
APP_DEBUG=true
APP_KEY=change-me-app-key # El generador crea una clave base64 valida
APP_URL=http://localhost    # URL de la aplicación asignada en proxy host

# --- Variables de conexión a la base de datos (que Laravel usará) ---
DB_CONNECTION=pgsql
DB_HOST=db                  # Este valor es el nombre del servicio `db` en Docker
DB_PORT=5432                # Puerto de la base de datos PostgreSQL
DB_DATABASE=laraveldb       # Nombre de la base de datos
DB_USERNAME=laravel         # Usuario de la base de datos
DB_PASSWORD=${POSTGRES_PASSWORD}     # Contraseña de la base de datos
