# ----------------------------------------------------------------------
# ARCHIVO .env.example - Plantilla Wordpress} + MySQL
# Este archivo contiene las variables de entorno utilizadas por el stack.
# ----------------------------------------------------------------------

# .env.example - Plantilla para WordPress + MySQL

# --- Datos generales del proyecto ---
PROJECT=demo_wordpress_mysql   # Nombre del proyecto (usado en contenedores, redes, volúmenes, etc.)

# --- Configuración de MySQL ---
DB_VERSION=8.0               # Versión del motor MySQL
MYSQL_ROOT_PASSWORD=change-me-mysql-root # Contraseña del usuario root
MYSQL_DATABASE=wordpressdb   # Nombre de la base de datos
MYSQL_USER=wordpressuser     # Usuario estándar de WordPress
MYSQL_PASSWORD=change-me-mysql-user # Contraseña del usuario estándar

# --- Variables opcionales para phpMyAdmin ---
PMA_HOST=db                  # Host del servicio MySQL
PMA_USER=wordpressuser       # Usuario de conexión
PMA_PASSWORD=${MYSQL_PASSWORD}   # Contraseña de conexión

# Configuración opcional del entorno WordPress
WORDPRESS_DB_HOST=db    # Host base de datos MySQL (Sin puerto, ya que Docker maneja la red)
WORDPRESS_DB_NAME=${MYSQL_DATABASE} # Base de datos de WordPress
WORDPRESS_DB_USER=${MYSQL_USER}     # Usuario de WordPress
WORDPRESS_DB_PASSWORD=${MYSQL_PASSWORD} # Contraseña de WordPress

# --- Configuración de la aplicación WordPress ---
APP_URL=http://localhost    # URL de la aplicación, la configurarás en el proxy inverso
