# MariaDB
MYSQL_ROOT_PASSWORD=change-me-root-password
MYSQL_DATABASE=npm
MYSQL_USER=npm
MYSQL_PASSWORD=change-me-db-password

# Nginx Proxy Manager -> MariaDB
DB_MYSQL_HOST=db
DB_MYSQL_PORT=3306
DB_MYSQL_USER=npm
DB_MYSQL_PASSWORD=change-me-db-password
DB_MYSQL_NAME=npm
