# ----------------------------------------------------------------------
# ARCHIVO .env.example - Plantilla Laravel + MySQL
# Este archivo contiene las variables de entorno utilizadas por el stack.
# ----------------------------------------------------------------------

# .env.example - Plantilla para Laravel + MySQL

# --- Datos generales del proyecto ---
PROJECT=demo_laravel_mysql   # Nombre del proyecto (usado en contenedores, redes, volúmenes, etc.)

# --- Configuración del entorno PHP (Laravel) ---
LANG_VERSION=8.3             # En esta plantilla no se utiliza la versión ya que se descarga una imagen de laravel

# --- Configuración de MySQL ---
DB_VERSION=8.0               # Versión del motor MySQL
MYSQL_ROOT_PASSWORD=change-me-mysql-root # Contraseña del usuario root
MYSQL_DATABASE=laraveldb     # Nombre de la base de datos principal
MYSQL_USER=laravel           # Usuario estándar de Laravel
MYSQL_PASSWORD=change-me-mysql-user   # Contraseña del usuario estándar

# --- Variables opcionales para phpMyAdmin ---
PMA_HOST=db                  # Host del servicio MySQL
PMA_USER=laravel             # Usuario de conexión
PMA_PASSWORD=${MYSQL_PASSWORD}     # Contraseña del usuario de conexión

# --- Configuración opcional del entorno Laravel ---
APP_ENV=local
APP_DEBUG=true
APP_KEY=change-me-app-key # El generador crea una clave base64 valida
APP_URL=http://localhost    # URL de la aplicación asignada en proxy host

# --- Variables de conexión a la base de datos (que Laravel usará) ---
DB_CONNECTION=mysql
DB_HOST=db                  # Este valor es el nombre del servicio `db` en Docker
DB_PORT=3306                # Puerto de la base de datos MySQL
DB_DATABASE=laraveldb       # Nombre de la base de datos
DB_USERNAME=laravel         # Usuario de la base de datos
DB_PASSWORD=${MYSQL_PASSWORD}     # Contraseña de la base de datos
