# ----------------------------------------------------------------------
# ARCHIVO .env.example
# Este archivo contiene las variables de entorno utilizadas por el stack.
# Es utilizado por el sistema de automatización para generar el archivo .env.
# ----------------------------------------------------------------------

# --- Datos generales del proyecto ---
PROJECT=demo_php_postgres   # Nombre del proyecto (se usa como prefijo en contenedores, redes, etc.)

# --- Configuración de PHP ---
LANG_VERSION=8.2             # Versión de PHP que se usará en la imagen (ej: 8.2, 8.3)

# --- Configuración de PostgreSQL ---
DB_VERSION=16         # Versión del motor PostgreSQL
POSTGRES_DB=appdb           # Nombre de la base de datos principal
POSTGRES_USER=appuser       # Usuario principal de la base de datos
POSTGRES_PASSWORD=change-me-postgres-user   # Contraseña del usuario principal

# --- Configuración opcional para pgAdmin ---
PGADMIN_EMAIL=admin@example.com    # Correo de acceso al panel pgAdmin
PGADMIN_PASSWORD=change-me-pgadmin         # Contraseña de acceso al panel pgAdmin
